<p>bookmark-add</p>
<!-- <button mat-raised-button color="accent">Accent</button> -->

<div class="form-container">
  <mat-form-field>
    <input matInput type="text" placeholder="name" #name>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="text" placeholder="url" #url>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select" #group>
      <mat-option *ngFor="let group of groups" [value]="group.value">
        {{group.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="addBookmark(name.value,url.value,group.value)">Add a bookmark</button>
</div>
