<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/add">
        <mat-icon>favorite</mat-icon>
        <span>New bookmark</span>
      </button>
      <button mat-menu-item routerLink="/home">
        <mat-icon>list</mat-icon>
        <span>Bookmark list</span>
      </button>
    </mat-menu>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    My bookmarks
</mat-toolbar>

<section>
    <router-outlet></router-outlet>    
</section>
<div class="ActionPoint">
    <button mat-fab aria-label="Add new bookmark" alt="Add new bookmark" routerLink="/add">
      <mat-icon>favorite</mat-icon>
    </button>
</div>