<h3>Bookmarks</h3>
<app-selecting [name]="selecte" (chosen)="showCatSel($event)"></app-selecting>
<mat-divider></mat-divider>
<div class="list">
  <mat-nav-list>
    <mat-list-item *ngFor="let bookmark of bookmarks | async; let i = index" class="item">
      <a [href]="bookmark.url" target="_blank">
        <span>{{ showCat(bookmark.group) }}</span> - 
        <span class="item-name">{{ bookmark.name }}</span> - 
        <span class="item-url">{{bookmark.url}}</span>
      </a>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>